# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment
.env
.env.*
!.env.example

# Build
build
dist
coverage

# IDE
.idea
.vscode
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
.docker

# System
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Test
__tests__
*.test.*
*.spec.* 